@import 'src/styles';

#post-thumbnail-component {
  width: 100%;

  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 3px $grey-text-color;

  padding: 20px;
}

#post-thumbnail-date {


  font-weight: 500;
  color: $text-color;
  font-size: 15px;
}

#post-thumbnail-title {

  color: $main-color;
  font-size: 22px;
  font-weight: 800;

}

#post-thumbnail-description {

  font-size: 12px;
  font-weight: 400;

}

