#project-thumbnail-dashboard {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}


#project-thumbnail {
  width: auto;
  margin: 20px;
}
